{% extends "groups/base_group.html" %}
{% block group %}
{% load bootstrap4 %}

<div class="container">

    <div class="container">
      <h4>All Groups: </h4>
      <ol>
      {% if group_list %}
        {% for group in group_list %}
          <li> <a href="{% url 'groups:groupdetail' slug=group.slug %}">{{group.name}}</a></li>
        {% endfor %}
      {% else %}
        <h4>There are no groups. Please create. </h4>
      {% endif %}
    {% if user.is_authenticated %}
      <a class="btn btn-primary" href="{% url 'groups:creategroup' %}">Create Group</a>
    </div>
    {% else %}
      <div class="container">
          <div class="jumbotron">
            <h4>Login/Sign Up</h4>
            <h6>You are not logged in. Please login or signup. </h6>
            <a  class="btn btn-primary" href="{% url 'accounts:login' %}">Login</a>
            <a  class="btn btn-primary" href="{% url 'accounts:signup' %}">Sign Up</a>
          {% endif %}
          </div>
      </div>


  </ol>


</div>

{% endblock group %}
