<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="#">Trial Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'groups:grouplist' %}">Groups</a>
            <a class="nav-item nav-link" href="#">Users</a>
          </div>
        </div>
        <div class="navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'accounts:userdetail' pk=user.id %}">{{user.username}}</a>
            <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'accounts:login' %}">Login</a>
          <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
          {% endif %}
          </div>
        </div>
      </nav>

    {% block body_block %}

    {% endblock body_block %}

  </body>
</html>
